[submodule "nypl-reg"]
	path = nypl-reg
	url = https://github.com/NYPL/catalog_of_copyright_entries_project.git
[submodule "nypl-ren"]
	path = nypl-ren
	url = https://github.com/NYPL/cce-renewals.git
